---
// AccordionItem.astro
import BilledeSlider from "./BilledeSlider.astro";

const {
  title = "Fredericia",
  date = "Torsdag den 15. maj kl. 20.00 - 21.30",
  location = "Cafe Mauritz, Sjællandsgade 33, Fredericia",
  dresses = [],
} = Astro.props;
---

<div class="accordion-item">
  <button class="accordion-header">
    {title}<span class="plus">+</span>
  </button>

  <div class="accordion-content">
    <p class="undertitel">Næste salon er:</p>
    <p>{date}<br />{location}</p>

    <div class="btn_seudvalgte">
      <div>
        <button class="btn1">modtag invitation</button>
      </div>
      <div class="tekst_pil">
        <p class="undertitel">Se udvalgte styles</p>
        <div class="pil_img">
          <img src="/img/Pil-ned.png" alt="pil" class="toggle-styles" />
        </div>
      </div>
    </div>

    <div class="extra_content">
      <div class="opdeler"></div>
      <p>Udvalgte styles fra {title}</p>

      <div class="mobile-only">
        <BilledeSlider dresses={dresses} mode="slider" imageWidth="60%" />
      </div>
      <div class="desktop-only">
        <BilledeSlider
          dresses={dresses}
          mode="grid"
          imageWidth="100%"
          class={dresses.length === 1 ? "single-image-grid" : ""}
        />
      </div>
    </div>
  </div>
</div>

<style>
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .accordion-item:hover {
    background-color: var(--yellow-color);
  }

  .tekst_pil {
    margin-top: -30px;
  }

  .pil_img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
  }

  .extra_content p {
    display: flex;
    justify-content: center;
    font-family: var(--archivo);
    font-size: var(--size-h3);
  }

  .accordion-item {
    border-bottom: 1px solid black;
    font-family: "Monument", sans-serif;
  }

  .accordion-header {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    padding-left: 40px;
    font-size: var(--size-h2);
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    font-family: var(--archivo);
    cursor: pointer;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    padding: 0 40px;
    font-family: var(--monument-reg);
    font-size: var(--size-p2);
  }

  .accordion-content .undertitel {
    font-family: var(--archivo);
    font-size: var(--size-h3);
  }

  .plus {
    padding-right: 40px;
  }

  .btn1 {
    background-color: var(--green-color);
    color: #000;
    border: none;
    padding: 10px 15px;
    font: var(--size-p2) var(--monument-reg);
    font-weight: 450;
    cursor: pointer;
    border-radius: 30px;
    margin: 10px 0 30px 0;
  }

  .pil_img img {
    width: 20px;
    height: auto;
  }

  .accordion-item.open-bg {
    background-color: var(--yellow-color);
    max-height: 1800px;
  }

  .extra_content h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    color: var(--text-color);
    margin-top: 20px;
  }

  .opdeler {
    width: 120%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
  }

  .extra_content {
    max-height: 1900px;
  }

  @media (min-width: 768px) {
    .mobile-only {
      display: none;
    }
    .desktop-only {
      display: block;
    }

    .pil_img {
      width: 100%;
      height: auto;
      margin-top: 10px;
      margin-right: -110px;
    }

    .tekst_pil {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .tekst_pil p {
      width: 400px;
      margin-right: -90px;
    }

    .btn_seudvalgte {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
